@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --hover-bg : #e8c0a7 ;
}

@layer components{
  @keyframes loader{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.loader-box{
    animation: loader 2s linear infinite;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#f68b1e 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#f68b1e);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }
}
