@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --hover-bg : #e8c0a7 ;
}

@layer components{
  @keyframes loader{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.loader-box{
    animation: loader 2s linear infinite;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#f68b1e 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#f68b1e);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }

 .dropdown {
    position: relative;
    display: inline-flex;
   }
   
   .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 8px;
    border-radius: 10px;
   }
   
   .dropdown-menu button {
    color: black;
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    font-size: 12px;
   }

   .dropdown-menu button:hover {
    background-color: #f1f1f1;
    border-radius: 10px}

   .dropdown:hover .dropdown-menu {
    display: block;
   }
}
